$fontw_1            : 600;
$fontw_2            : bold;
$color_1            : #ffffff;
$color_2            : #505050;
$color_3            : #bbfaf5;
$color_4            : #eaeaab;
$color_5            : #083430;
$color_6            : #404040;
$color_7            : #000000;
$transition_1       : 0.5s;
$transition_2       : 1s;
$margin-media       : 0 0 10px;
$margin-top_1-media : 90px;
$margin-top_2-media : 60px;
$margin-top_3-media : 40px;

@mixin paddings($pt, $pb) {
    padding-top    : $pt;
    padding-bottom : $pb;
}

@mixin background-color($bc) {
    background-color : $bc;
}

@mixin montserrat-font($fz, $c, $ls) {
    font-size      : $fz;
    color          : $c;
    letter-spacing : $ls;
    font-family    : 'Montserrat', sans-serif;
    text-transform : uppercase;
}

@mixin raleway-font($fz, $c, $lh) {
    font-size   : $fz;
    font-family : 'Raleway', sans-serif;
    color       : $c;
    line-height : $lh;
}

@mixin section-title {
    font-size      : 38px;
    text-align     : center;
    font-family    : 'Montserrat', sans-serif;
    text-transform : uppercase;
    color          : #191919;
    font-weight    : $fontw_2;
    line-height    : 0.737;
    letter-spacing : 0.04em;
}

@mixin section-description($fz, $lh, $ls) {
    font-size      : $fz;
    text-align     : center;
    font-family    : 'Merriweather', serif;
    color          : #616161;
    text-transform : uppercase;
    line-height    : $lh;
    letter-spacing : $ls;
}

@mixin image-size($mw, $mh) {
    max-width  : $mw;
    max-height : $mh;
}

@mixin header-size($w, $h, $mb, $pt) {
    width         : $w;
    height        : $h;
    margin-bottom : $mb;
    padding-top   : $pt;
}

@mixin block-font($fz, $lh) {
    font-size   : $fz;
    line-height : $lh;
}

@mixin animation-text-no-active {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

@mixin animation-text-first-active {
    transform: translate(0px, 0px);
    opacity: 1;
}

@mixin animation-text-delay-active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}

@mixin animation-image-no-active {
    transform: scale(0);
    transition: all 0.8s ease 0s;
}

@mixin animation-image-active {
    transform: scale(1);
}

* {
    margin     : 0;
    padding    : 0;
    border     : 0;
    box-sizing : border-box;
}

html,
body {
    height : 100%;
}

.container {
    max-width      : 1170px;
    margin         : 0 auto;
    padding        : 0 15px;
    display        : flex;
    flex-direction : column;
}

.header {
    padding  : 64px 0 195px;
    position : relative;
    opacity  : 0.988;
    @include background-color(#eff0f2);

    &__logo {
        @include header-size(113px, 46px, 194px, 7px);
        display         : flex;
        justify-content : center;
        text-decoration : none;
        border          : 5.54px solid #170f1c;
        @media screen and (max-width : 480px) {
            @include header-size(99px, 42px, 140px, 3px);
        }

        &-text {
            @include montserrat-font(17px, $color_7, 0.04em);
            font-weight : $fontw_2;
            text-shadow : 0 0 2px $color_2;
            @media screen and (max-width : 480px) {
                font-size : 15px;
            }
        }

        &-letter {
            @include montserrat-font(20px, #77efe5, 0.02em);
        }

        &:hover {
            transform : rotateZ(20deg);
        }
    }

    &__title {
        margin-bottom : 4px;
        @include montserrat-font(45px, $color_2, 0.06em);
        //font-size: calc(24px + 21 * ((100vw - 320px) / (1440 - 320)));
        text-align    : center;
        font-weight   : $fontw_2;
        text-shadow   : 0 9px 10px #c2c2c2;
        @include animation-text-no-active;
        @media screen and (max-width : 1200px) {
            @include block-font(41px, 3.5rem);
        }
        @media screen and (max-width : 992px) {
            @include block-font(39px, 2.4rem);
            margin-bottom : 25px;
        }
        @media screen and (max-width : 768px) {
            @include block-font(37px, 2.8rem);
        }
        @media screen and (max-width : 480px) {
            @include block-font(24px, 2rem);
        }

        &-first-sentence {
            letter-spacing : 0.04em;
            margin-left    : 21px;
            @media screen and (max-width : 480px) {
                margin-left : 0;
            }
        }

        &-rectangle {
            padding : 0 10px;
            @include background-color($color_3);
        }

        &-second-sentence {
            letter-spacing : 0.05em;
        }
    }
    
    &__title.active {
        @include animation-text-first-active;
    }

    &__contact {
        margin-top      : 135px;
        display         : flex;
        justify-content : center;
        @media screen and (max-width : 992px) {
            margin-top : $margin-top_2-media;
        }
        @media screen and (max-width : 480px) {
            margin-top : $margin-top_3-media;
        }
    }

    &__button {
        width           : 232px;
        padding         : 14px 0 13px 2.5px;
        box-sizing      : border-box;
        display         : inline-flex;
        align-items     : center;
        justify-content : center;
        text-decoration : none;
        border          : 2px solid #808080;
        border-radius   : 2px;
        @include montserrat-font(18px, $color_6, 0.12em);
        @media screen and (max-width : 768px) {
            width : 200px;
        }
        @media screen and (max-width : 480px) {
            width     : 160px;
            font-size : 15px;
        }

        &:hover {
            @include background-color($color_3);
            transition : all 1s ease-in-out;
        }

        &:active {
            @include background-color($color_4);
            color      : $color_5;
            transition : $transition_1;
        }
    }

    &__image {
        position : absolute;
        left     : 77.85%;
        top      : 72.2%;
        @media screen and (max-width : 480px) {
            left : 72%;
            top  : 79%;
        }
    }
}

.about-us {
    @include paddings(128px, 162px);
    @include background-color(#f8fafa);
    @media screen and (max-width : 1200px) {
        @include paddings(64px, 90px);
    }
    @media screen and (max-width : 768px) {
        @include paddings(60px, 60px);
    }
    @media screen and (max-width : 480px) {
        @include paddings(40px, 40px);
    }

    &__title {
        margin : 0 0 11px 22px;
        @include animation-text-no-active;
        @include section-title;
        @media screen and (max-width : 1200px) {
            margin : $margin-media;
        }
        @media screen and (max-width : 992px) {
            margin : $margin-media;
        }
        @media screen and (max-width : 768px) {
            margin : $margin-media;
        }
        @media screen and (max-width : 480px) {
            margin : $margin-media;
            @include block-font(30px, 1);
        }
    }
    
    &__title.active {
        @include animation-text-first-active;
    }

    &__description {
        @include animation-text-no-active;
        @include section-description(18px, 1.556, 0.07em);
        @media screen and (max-width : 480px) {
            font-size : 15px;
        }
    }
    
    &__description.active {
        @include animation-text-delay-active;
    }

    &__content {
        margin-top : 141px;
        display    : flex;
        @media screen and (max-width : 1200px) {
            margin-top : $margin-top_1-media;
        }
        @media screen and (max-width : 992px) {
            margin-top     : $margin-top_2-media;
            flex-direction : column;
            align-items    : center;
        }
        @media screen and (max-width : 768px) {
            margin-top : $margin-top_3-media;
        }
    }

    &__image-container {
        margin : 0 155px 0 80px;
        @media screen and (max-width : 1200px) {
            margin-right : 63px;
        }
        @media screen and (max-width : 992px) {
            margin : 0;
        }
    }
    
    &__image-container.active &__image{
        @include animation-image-active;
    }

    &__image {
        @include image-size(392px, 483px);
        @include background-color(#e4e5e8);
        box-shadow : 0 0 30px 0 #e0e0e1;
        @include animation-image-no-active;
        @media screen and (max-width : 480px) {
            @include image-size(260px, 320px);
        }
    }

    &__information {
        margin-right : 20px;
        @media screen and (max-width : 992px) {
            max-width      : 500px;
            margin-right   : 0;
            margin-top     : 50px;
            display        : flex;
            flex-direction : column;
            align-items    : center;
        }
        @media screen and (max-width : 768px) {
            text-align : center;
        }

        &-title {
            margin-top     : 1px;
            margin-bottom  : 19px;
            font-size      : 20px;
            font-family    : 'Merriweather', serif;
            color          : $color_6;
            font-weight    : $fontw_2;
            text-transform : uppercase;
            letter-spacing : 0.07em;
            @include animation-text-no-active;
            @media screen and (max-width : 992px) {
                font-size : 23px;
            }
            @media screen and (max-width : 480px) {
                font-size : 17px;
            }

            &--question {
                margin-bottom  : 12px;
                padding-top    : 1px;
                letter-spacing : 0.073em;
                @include block-font(17px, 1.647);
                @media screen and (max-width : 992px) {
                    font-size : 22px;
                }
            }
        }
        
        &-title.active {
            @include animation-text-first-active;
        }

        &-description {
            padding-left   : 1px;
            @include raleway-font(16px, #424242, 1.75);
            letter-spacing : 0.048em;
            @include animation-text-no-active;
            @media screen and (max-width : 992px) {
                text-align : justify;
                font-size  : 19px;
            }
            @media screen and (max-width : 480px) {
                font-size : 15px;
            }

            &--margin {
                margin : 28px 0 29px;
            }
        }
        &-description.active {
            @include animation-text-delay-active;
        }
    }
}

.featured-works {
    @include paddings(129px, 125px);
    @media screen and (max-width : 1200px) {
        @include paddings(90px, 90px);
    }
    @media screen and (max-width : 768px) {
        @include paddings(60px, 60px);
    }
    @media screen and (max-width : 480px) {
        @include paddings(40px, 40px);
    }

    &__title {
        margin : 0 0 10px 40px;
        @include animation-text-no-active;
        @include section-title;
        @media screen and (max-width : 1200px) {
            margin : $margin-media;
        }
        @media screen and (max-width : 992px) {
            margin : $margin-media;
        }
        @media screen and (max-width : 768px) {
            margin : $margin-media;
        }
        @media screen and (max-width : 480px) {
            margin : $margin-media;
            @include block-font(30px, 1);
        }
    }
    
    &__title.active {
        @include animation-text-first-active;
    }

    &__description {
        @include section-description(17px, 1.647, 0.07em);
        @include animation-text-no-active;
        @media screen and (max-width : 480px) {
            font-size : 15px;
        }
    }
    
    &__description.active {
        @include animation-text-delay-active;
    }

    &__content {
        margin-top            : 115px;
        display               : grid;
        grid-template-columns : 1fr 1fr 1fr;
        grid-template-rows    : 1fr 1fr;
        gap                   : 13px 15px;
        list-style-type       : none;
        @media screen and (max-width : 1200px) {
            margin-top            : $margin-top_1-media;
            justify-items         : center;
            grid-template-columns : 1fr 1fr;
        }
        @media screen and (max-width : 992px) {
            margin-top            : $margin-top_2-media;
            grid-template-columns : 1fr;
        }
        @media screen and (max-width : 768px) {
            margin-top : $margin-top_3-media;
        }
    }
    
    &__content.active &__image {
        @include animation-image-active;
        &:hover {
            transform : scale(1.025);
            transition : $transition_2;
        }
    }

    &__item {
        @include image-size(370px, 359px);
    }

    &__image {
        @include animation-image-no-active;
        @media screen and (max-width : 480px) {
            @include image-size(260px, 253px);
        }
    }
}

.small-team {
    @include paddings(99px, 162px);
    @include background-color(#f9fbfb);
    @media screen and (max-width : 1200px) {
        @include paddings(90px, 76px);
    }
    @media screen and (max-width : 768px) {
        @include paddings(60px, 60px);
    }
    @media screen and (max-width : 480px) {
        @include paddings(40px, 40px);
    }

    &__title {
        margin-bottom : 8px;
        @include section-title;
        @include animation-text-no-active;
        @media screen and (max-width : 480px) {
            margin : $margin-media;
            @include block-font(30px, 1);
        }
    }
    
    &__title.active {
        @include animation-text-first-active;
    }

    &__description {
        @include section-description(17px, 1.647, 0.072em);
        @include animation-text-no-active;
        @media screen and (max-width : 480px) {
            font-size : 15px;
        }
    }
    
    &__description.active {
        @include animation-text-delay-active;
    }

    &__content {
        margin-top      : 117px;
        display         : flex;
        flex-wrap       : wrap;
        list-style-type : none;
        @media screen and (max-width : 1200px) {
            width: 97%;
            margin-top      : $margin-top_1-media;
            justify-content : space-around;
            & > .small-team__item {
                margin-right : 0 !important;
                margin-left  : 0 !important;
            }
        }
        @media screen and (max-width : 992px) {
            width: 100%;
            margin-top     : $margin-top_2-media;
            flex-direction : column;
            align-items    : center;
        }
        @media screen and (max-width : 480px) {
            margin-top : $margin-top_3-media;
        }
    }
    
    &__content.active &__image {
        @include animation-image-active;
    }

    &__item {
        @include image-size(370px, 440px);
        position: relative;
        margin-bottom : 14px;

        &:first-child,
        &:nth-child(4) {
            margin-right : 16px;
            margin-left  : -2px;
        }

        &:nth-child(2),
        &:nth-child(5) {
            margin-right : 15px;
        }
        &:hover {
            .small-team__info {
                opacity: 0.98;
                transition: $transition_2;
            }
        }
    }

    &__image {
        @include animation-image-no-active;
        @media screen and (max-width : 480px) {
            @include image-size(260px, 309px);
        }
    }

    &__info {
        @include image-size(335px, 241px);
        left: 4.9%;
        bottom: 3.1%;
        padding: 40px 49px 42px 38px;
        position: absolute;
        @include background-color(#6DF6EB);
        box-shadow: 0 7px 16px 0 #1414152e;
        opacity: 0;
        transition: $transition_2;
        &::before {
            content: '';
            border: 12px solid transparent;
            border-bottom: 20px solid #6df6eb;
            position: absolute;
            top: -31px;
            left: 20px;
        }
        @media screen and (max-width : 480px) {
            max-width: 100%;
            right: 4.9%;
            padding: 0 20px;
        }
    }
    &__name {
        @include block-font(15px, 1.2);
        margin-bottom: 16px;
        font-family: 'Merriweather', sans-serif;
        color: #757776;
        letter-spacing: 1.2px;
        font-style: italic;
        @media screen and (max-width : 480px) {
            margin-top: 20px;
            font-size : 11px;
        }
    }
    &__job {
        font-size: 20px;
        font-weight: $fontw_2;
        color: #2b3231;
        text-transform: uppercase;
        font-style: normal;
        @media screen and (max-width : 480px) {
            font-size : 14px;
        }
    }
    &__about-person {
        @include raleway-font(16px, #000000cc, 1.5);
        margin-bottom: 32px;
        letter-spacing: 0.2px;
        @media screen and (max-width : 480px) {
            margin-bottom: 20px;
            font-size : 12px;
        }
    }
    &__social-links {
        display: flex;
        margin-bottom: 20px;
        list-style-type: none;
    }
    &__social-item {
        font-size: 13px;
        margin-right: 14px;
        color: #000000b3;
    }
}

.contact-us {
    @include paddings(132px, 123px);
    background      : linear-gradient(rgba(248, 250, 251, 0.671), rgba(248, 250, 251, 0.671)), url('../../images/contact-background.jpg') no-repeat center;
    background-size : 100%;
    @media screen and (max-width : 1200px) {
        @include paddings(90px, 90px);
    }
    @media screen and (max-width : 768px) {
        @include paddings(60px, 60px);
    }
    @media screen and (max-width : 480px) {
        @include paddings(40px, 40px);
    }

    &__content {
        display               : grid;
        grid-template-columns : 613px 500px;
        column-gap            : 26px;
        @media screen and (max-width : 1200px) {
            grid-template-columns : 750px;
            justify-content       : center;
            row-gap               : 15px;
        }
        @media screen and (max-width : 992px) {
            grid-template-columns : 500px;
        }
        @media screen and (max-width : 768px) {
            grid-template-columns : 420px;
        }
        @media screen and (max-width : 480px) {
            grid-template-columns : 300px;
        }
    }

    &__form,
    &__information {
        @include background-color(rgba(2, 22, 35, 0.71));
        box-shadow : 0 0 30px 0 #e3e3e3;
    }

    &__form {
        margin-left    : -1px;
        margin-bottom  : 1px;
        padding        : 38px 33px 38px 32px;
        display        : flex;
        flex-direction : column;
    }

    &__name,
    &__subject,
    &__email,
    &__message {
        padding-left  : 3px;
        @include raleway-font(15px, $color_1, 1.9);
        outline       : none;
        border        : none;
        border-bottom : 1px solid #55636c;
        @include background-color(transparent);

        &::placeholder {
            color   : $color_1;
            opacity : 0.6;
        }
    }

    &__subject,
    &__email {
        margin-top : 22px;
    }

    &__name {
        padding-bottom : 9px;
    }

    &__subject {
        padding-bottom : 8.2px;
    }

    &__email {
        padding-bottom : 11px;
        line-height    : 1.6;
    }

    &__message {
        padding-bottom : 55.3px;
        margin-top     : 23px;
    }

    &__submit {
        margin-top    : 38px;
        margin-left   : -1px;
        padding       : 13px 35px 12px 36.5px;
        align-self    : flex-start;
        @include montserrat-font(18px, #4d4d4d, 0.11em);
        font-weight   : $fontw_1;
        line-height   : 1.556;
        border-radius : 2px;
        @include background-color(#6eeee4);
        cursor        : pointer;

        &:hover {
            @include background-color(transparent);
            color      : $color_1;
            transition : $transition_1;
        }

        &:active {
            @include background-color($color_4);
            color      : $color_5;
            transition : $transition_1;
        }
    }

    &__information {
        padding : 29.5px 23px 18px 31px;
    }

    &__address,
    &__connection {
        @include raleway-font(15px, $color_1, 1.6);
        opacity : 0.7;
    }

    &__connection {
        margin-top : 24px;
    }

    &__link {
        outline         : none;
        text-decoration : none;
        color           : $color_1;
    }

    &__map {
        margin-top  : 20px;
        margin-left : -9px;
    }
}

.footer {
    margin-left : -3px;
    @include paddings(87px, 151px);
    @include background-color(#262b2e);
    @media screen and (max-width : 1200px) {
        padding-bottom : 90px;
    }
    @media screen and (max-width : 992px) {
        padding-top : 60px;
    }
    @media screen and (max-width : 768px) {
        @include paddings(60px, 60px);
    }
    @media screen and (max-width : 480px) {
        @include paddings(40px, 40px);
    }

    &__title {
        @include raleway-font(16px, $color_1, 1.563);
        text-align     : center;
        opacity        : 0.8;
        text-transform : uppercase;
    }

    &__links {
        margin-top      : 12px;
        display         : flex;
        justify-content : center;
    }

    &__item {
        width           : 45px;
        height          : 40px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        @include block-font(20px, 2.1);
        text-decoration : none;
        opacity         : 0.4;
        @include background-color(#8a8a8a);

        &:first-child,
        &:nth-child(3) {
            margin-right : 8px;
        }

        &:nth-child(2) {
            margin-right : 9px;
        }

        &:hover {
            @include background-color(#71f6eb);
            transition : $transition_1;
            opacity    : 1;

            & .fab {
                color   : $color_7;
                opacity : 0.949;
            }
        }
    }

    .fa-pinterest-p,
    .fa-twitter,
    .fa-facebook-f,
    .fa-dribbble {
        color : #faf4f4;
    }
}